<h1> Deal list</h1>
<a href="{% url 'deal-create' %}">Add deal</a>

<table>
    <tr>
        <th></th>
        <td></td>
        <td></td>
    </tr>
    {% for deal in deals %}
    <tr>
        <td>{{deal.number}}</td>
        <td>{{deal.car_id.get_details}}</td>
        <td><a href="{% url 'deal' deal.id %}">View</a> </td>
        <td><a href="{% url 'deal-update' deal.id %}">Edit</a> </td>
        <td><a href="{% url 'deal-delete' deal.id %}">Delete</a></td>

    </tr>
    <tr>
    {% empty %}
        <h3>No deals in list</h3>
    </tr>
    {% endfor %}
</table>